body {
	background: url("../images/grey_@2X.png");
	font-family: 'Mystery Quest', cursive;

}

p {
	font-family: 'Rum Raisin', sans-serif;
	font-size: 14pt;
	color: #878787;
	line-height: 1.5;
}

.jumbotron {
   background: rgba(247, 231, 150, 0.5);
   padding-top: 10px;
   padding-bottom: 10px; 
}

.col-sm-3 {
	padding: 5px;
}

#no-padding {
	padding-top: 0;
}

#padding {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#headline {
	letter-spacing: 1.75px;
	color: rgb(249, 156, 62);
	font-size: 30pt;
}

#left-container {
	width: 33%;
	float: left;
}

#right-container {
	width: 66%;
	float: right;
}

.full-width {
	width: 100%;
}

.panel-title {
	letter-spacing: 1.1px;
}

.panel {
	background: rgba(255, 255, 255, 0)!important;
	margin-bottom: 10px;
}

.blue-contents {
	color: #31708F;
	font-size: 24pt;
}

.panel-body {
	padding: 5px;

}

.left-panel {
	background: rgba(223, 240, 216, 0.75)!important;
}

.right-panel {
	background: rgba(217, 237, 247, 0.75)!important;
}

.well-sm {
	background: rgba(247, 231, 150, 0.5); 
	color: rgb(249, 156, 62);
	letter-spacing: 1.1px;
	/*font-size: 24pt;*/
	border: 1px solid rgb(249, 156, 62);
	margin-bottom: 5px;
}


